**/.DS_Store
**/.pyc
*.pyc
config/.DS_Store
output/.DS_Store
output/WF/.DS_Store
config/.DS_Store
*.pyc
*.iml
*.pyc
output/.DS_Store
output/WF/.DS_Store
config/.DS_Store
*.iml
*.pyc
config/.DS_Store
output/.DS_Store
output/.DS_Store
output/WF/.DS_Store
config/.DS_Store
output/.DS_Store
